.u-section-1 .u-sheet-1 {
  min-height: 456px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 84px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -56px auto 0;
}

.u-section-1 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 39px auto 11px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    height: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
    margin-top: 26px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 759px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 132px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -110px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  width: 400px;
  margin: 52px auto 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: -12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-image-1 {
    height: 101px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -101px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    width: auto;
    margin: 37px 0 4px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 103px;
}

.u-section-3 .u-image-1 {
  width: 400px;
  height: 84px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -63px auto 53px 498px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 236px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-3 .u-image-1 {
    height: 56px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin: -56px 0 21px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 636px;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 12px auto 0;
}

.u-section-4 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 12px auto;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 255px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-5 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 11px auto;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 255px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 622px;
}

.u-section-6 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-6 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 11px auto;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 255px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-7 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-7 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 10px auto 0;
}

.u-section-7 .u-image-3 {
  width: 401px;
  height: 401px;
  margin: 10px auto 9px;
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-8 .u-image-1 {
  width: 400px;
  height: 85px;
  margin: 13px auto 0;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: -72px auto 0;
}

.u-section-8 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 27px auto 0;
}

.u-section-8 .u-image-3 {
  width: 400px;
  height: 300px;
  margin: 13px auto 0;
}

.u-section-8 .u-image-4 {
  width: 400px;
  height: 300px;
  margin: 13px auto;
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 72px;
  }

  .u-section-8 .u-text-1 {
    font-weight: 700;
    margin-top: -59px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 255px;
  }

  .u-section-8 .u-image-4 {
    width: 340px;
    height: 255px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 620px;
}

.u-section-9 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-9 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 10px auto;
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 255px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 632px;
}

.u-section-10 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 11px auto 0;
}

.u-section-10 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 11px auto;
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-10 .u-image-1 {
    height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 310px;
}

.u-section-11 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto 10px;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 255px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 618px;
}

.u-section-12 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-12 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 9px auto;
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-12 .u-image-1 {
    height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-image-2 {
    height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 948px;
}

.u-section-13 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-13 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: 9px auto 0;
}

.u-section-13 .u-text-1 {
  font-size: 1.5rem;
  width: 400px;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-13 .u-text-2 {
  margin: 30px auto 0 -19px;
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 400px;
}

.u-section-14 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 50px auto 60px;
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-14 .u-image-1 {
    height: 255px;
    margin-top: 17px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}